<% provide(:title, "Version History") %>
<div id="FighterPage">
<h1 id="Name">Version 1.06 (TBR 5-7-2016)</h1>
<div class="MainInfo">
<h2 id="Basics">Global Changes</h2>
<ul>
  <li>Added AI difficulty settings to the options menu. (Hidden bosses will only appear if you play Arcade on Hard or Hardest)</li>
  <li>AI opponents will now occasionally attempt a roll as a reversal.</li>
  <li>Added Lucario, Yang, and Blaziken as AI opponents.</li>
  <li>Added more attacks to the final boss.</li>
  <li>Added an option to enable or disable fullscreen in the options menu. F4 still works as a shortcut.</li>
  <li>Made some fixes to the EX and final boss effects.</li>
  <li>Fixed a small memory leak involving custom music and the final boss.</li>
  <li>Fixed a bug where the AI would walk at double speed if more than one projectile was on-screen.</li>
  <li>Fixed a bug where the final boss would sometimes summon more than one bear at a time.</li>
</ul>
<h2 id="MoveInfo">Character Changes</h2>
<h3>Megaman</h3>
<ul>
  <li>Drill Run:</li>
  <ul>
    <li>Hitstun reduced by 2 frames, now +3 on hit.</li>
    <li>Pushback in the corner increased.</li>
  </ul>
</ul>
<h3>Rock</h3>
<ul>
  <li>Fixed a bug where his Ultra on whiff would cause an error message.</li>
</ul>
<h3>Yun</h3>
<ul>
  <li>Fixed a bug with his palm that would cause an error message.</li>
</ul>
</div>
<h1 id="Name">Version 1.05 (Released 4-30-2016)</h1>
<div class="MainInfo">
<h2 id="Basics">Global Changes</h2>
<ul>
  <li>Fixed a bug where player 2's character sprites would not load correctly in team matches if the first match is a mirror match and player 2 wins.</li>
  <li>Fixed a bug where if you KO'd a character with a projectile, and the character that threw the projectile was on the last recovery frame, after the pause the character that threw the projectile would be stuck and the game would take longer to get to the next round.</li>
  <li>Fixed a bug where Sonson's Ultra would use the wrong image for player 2.</li>
  <li>Fixed Sakura's AI so she won't drop her combos.</li>
  <li>Fixed Kazuya's AI so he won't whiff a Demon God Fist after EWGF juggles.</li>
</ul>
<h2 id="MoveInfo">Character Changes</h2>
<h3>Ryu</h3>
<ul>
  <li>Fixed a bug that caused his Hadoken to only be cancellable on one frame.</li>
</ul>
<h3>Ken</h3>
<ul>
  <li>Fixed a bug that caused his Hadoken to only be cancellable on one frame.</li>
</ul>
<h3>Akuma</h3>
<ul>
  <li>Fixed a bug where if you performed Tenma-Gozanku as close to the ground as possible, Akuma would be stuck in the air afterwards.</li>
</ul>
<h3>Hibiki</h3>
<ul>
  <li>Fixed the hurtbox on the recovery frames of Standing Heavy Kick.</li>
  <li>Fixed the hurtbox on the recovery frames of Foot Stab.</li>
  <li>Fixed the pushbox on a frame of Crouching Heavy Punch being set too high.</li>
</ul>
<h3>Megaman</h3>
<ul>
  <li>Fixed the effect on his Laser Upper so it doesn't detach from his arm.</li>
  <li>Fixed the hurtbox on the recovery frames of Laser Upper.
  <li>Fixed the hurtbox on his Mine Launch.</li>
</ul>
</div>
<h1 id="Name">Version 1.04 (Released 4-25-2016)</h1>
<div class="MainInfo">
<h2 id="Basics">Global Changes</h2>
<ul>
  <li>Arcade mode now has CPU opponents (though not every character has AI yet)</li>
  <li>The Red Dragon has been removed as the final boss of Arcade mode and replaced with a new one. There are also 2 hidden bosses if you finish a round with an Ultra enough times and don't lose once.</li>
  <li>Custom controls will now be saved, and are loaded upon starting the game.</li>
  <li>Custom music has been added. You can change the music for each stage and the main menu.</li>
  <li>Forward movement increased on rolls across the board.</li>
  <li>Rolls are now strike and projectile invincible, but can be thrown.</li>
  <li>Dodges are now strike and throw invincible, but vulnerable to projectiles.</li>
  <li>Crumples were altered. Characters will now stay upright when they are in a grounded state, and will topple to the ground when transitioning to an airborne state (the animation change remains true for airborne crumples as well).</li>
  <li>Light strength normal attacks will now force a reset on a juggled opponent (with a couple of exceptions).</li>
  <li>All throws will now toss the opponent forwards. If you hold in the opposite direction you are facing you will turn and throw them behind you instead.</li>
  <li>All moves that are not light attacks will now have guard crush potential. The amount of guard damage they do is generally based on the damage they do, but some moves will do more guard damage than their normal damage (such as Haggar's Pipe).</li>
  <li>Fixed moves that cause chip damage to also build Ultra meter.</li>
  <li>Moves that are fully invincible on start-up can no longer be X-cancelled and will not auto-correct.</li>
  <li>Just Defend will now give you a bit of life back and will restore a small portion of your guard meter (1/4th of the damage of the opponent's attack, rounded upwards). If the attack you Just Defend does chip, however, you will not gain life back but the chip damage will be nullified.</li>
  <li>Projectiles no longer freeze both players, and instead only freeze the defender. Exceptions being moves like Lucario's Aura Storm, or Blaziken's/Gardevoir's Hyper Beam. Hitstun and blockstun on projectiles has been altered to compensate for this.</li>
  <li>X-Counter input changed to forward + HP + HK during blockfreeze.</li>
  <li>Adjustments to certain characters frame data to match the data from the documentation.</li>
  <li>Parry window increased to 6 frames from 5.</li>
  <li>Low Parries will now only work against low attacks; Mid attacks can only be parried high.</li>
  <li>If you attempt to parry while you're in blockstun, the parry window is reduced to 2 frames.</li>
  <li>Just Defend window reduced to 7 frames from 8.</li>
  <li>Screen freeze when teching a throw reduced by 10 frames, recovery after teching a throw also reduced by 10 frames. Characters end closer to each other.</li>
  <li>Added random angles to the hitsparks.</li>
  <li>Added tech rolls. This is a universal mechanic and not tied to the selectable mechanics. If you tap down-forward or down-back upon landing (or hold forward or back and press the throw input) you will roll in that direction. Tech rolls are fully invincible, but are vulnerable to throws during the last 10 frames. Naturally, tech rolls do not work against hard knockdowns. You cannot perform a reversal after a tech roll.</li>
  <li>Added wake-up rolls. Hold light punch and forward or back to roll in that direction instead of getting straight up off the ground. This works with hard knockdowns as well. Wake-up rolls are fully invincible for most of it but are fully vulnerable at the end. You cannot perform a reversal after a wake-up roll.</li>
</ul>
<h2 id="MoveInfo">Character Changes</h2>
<h3>Ryu</h3>
<ul>
  <li>Forward Dash recovers faster and has a faster travel speed.</li>
  <li>Standing Light Kick:</li>
  <ul>
    <li>Start-up reduced, from 5 frames to 4.</li>
  </ul>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Hitbox and hurtbox around his arm reduced vertically.</li>
    <li>Damage reduced, from 120 to 100.</li>
    <li>Stun reduced, from 200 to 150.</li>
    <li>Recovery reduced by 1 frame. Hitstun/blockstun reduced by 1 frame so frame advantage remains the same.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Hitstun reduced by 2 frames.</li>
  </ul>
  <li>Shinkuu Tatsumaki Senpuukyaku:</li>
  <ul>
    <li>Hit properties altered so opponents will pass through Ryu, being bounced between the front and back hitboxes. Damage on each hit adjusted accordingly.</li>
  </ul>
  <li>Metsu Shoryuken:</li>
  <ul>
    <li>Hitboxes expanded forward.</li>
  </ul>
</ul>
<h3>Kim</h3>
<ul>
  <li>Hangetsuzan:</li>
  <ul>
    <li>Heavy version no longer hits overhead.</li>
  </ul>
</ul>
<h3>Ken</h3>
<ul>
  <li>Opponent cannot be hit OTG after a throw.</li>
  <li>Forward Dash recovers faster and has a faster travel speed.</li>
  <li>Standing Light Kick:</li>
  <ul>
    <li>Start-up reduced, from 6 frames to 5.</li>
  </ul>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Changed to a medium strength attack.</li>
    <li>Damage reduced from 90 to 70.</li>
    <li>Stun reduced, from 150 to 100.</li>
    <li>Can now hit crouching opponents.</li>
    <li>Recovery reduced by 5 frames, hitstun/blockstun reduced by 1 frame, now +4/0.</li>
  </ul>
  <li>Standing Heavy Kick:</li>
  <ul>
    <li>Damage increased, from 90 to 110.</li>
    <li>Stun increased, from 150 to 200.</li>
    <li>Counter-hit property changed from crumple to launch.</li>
  </ul>
  <li>New move: Forward Light Kick.</li>
  <li>New move: Back Heavy Punch. Causes a crumple on counter-hit.</li>
  <li>New Target Combo: HP -> HP.</li>
  <li>New Move: Close Heavy Kick.</li>
  <li>Flip Kick:</li>
  <ul>
    <li>LK version can hit OTG during the later active frames.</li>
    <li>HK version no longer hits overhead.</li>
    <li>HK version blockstun increased by 4 frames, now 0 on block.</li>
  </ul>
</ul>
<h3>Kyo</h3>
<ul>
  <li>Forward Dash recovery reduced.</li>
  <li>Forward Light Punch altered to be part of a new rekka chain.</li>
  <li>Forward Heavy Punch swapped with a new move. Original Forward Heavy Punch is now Aragami, the start of a rekka chain.</li>
  <li>Forward Heavy Kick:</li>
  <ul>
    <li>No longer hits crouching opponents.</li>
    <li>Recovery reduced by 2 frames, now +2 on block.</li>
    <li>Can cross over short crouching characters or corpse hop.</li>
  </ul>
  <li>New command normal: Shiki. DF + HK. Hits twice and low, +2 on hit/+2 on block.</li>
  <li>Aragami:</li>
  <ul>
    <li>Now the start of a new rekka chain. Can cancel into a launching uppercut or an overhead strike that knocks down. These can be cancelled into a side kick that knocks down or an OTG punch (no longer a stand-alone move).</li>
  </ul>
  <li>New special, Doukigami. Starts another rekka chain that can be cancelled into his old Aragami (no longer a stand-alone move) which can be cancelled into a launching shoulder strike.</li>
  <li>EX R.E.D Kick:</li>
  <ul>
    <li>Blockstun reduced by 4 frames, now -1 on block.</li>
  </ul>
  <li>New special move; a run grab. Similar to Iori's, can be used in juggles to tack on some extra damage. EX version acts as a command grab.</li>
  <li>Level 1 Super has been changed.</li>
</ul>
<h3>Ryo</h3>
<ul>
  <li>Forward Dash recovery reduced.</li>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Hurtbox around his arm removed.</li>
  </ul>
  <li>Standing Light Kick changed to a close normal. Changed to a medium strength attack. Damage and stun increased to 70/100. Recovery increased by 1 frame. Hitstun and blockstun increased, now +5/+2.</li>
  <li>New normal, far light kick.</li>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Removed the hurtbox around his hand.</li>
    <li>Hitbox expanded downwards to connect on all crouchers.</li>
    <li>Hitstun and blockstun increased, now +4/+4.</li>
    <li>Damage and stun increased, now 70 damage and 100 stun.</li>
  </ul>
  <li>Standing Heavy Kick:</li>
  <ul>
    <li>Hitstun and blockstun increased, now 0/-2.</li>
  </ul>
  <li>Crouching Light Punch:</li>
  <ul>
    <li>Hitbox expanded forward slightly.</li>
  </ul>
  <li>Crouching Light Kick:</li>
  <ul>
    <li>Hitbox expanded forward slightly.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Damage and stun increased, now does 100 damage and 200 stun.</li>
  </ul>
</ul>
<h3>Jin</h3>
<ul>
  <li>Forward Dash recovers faster.</li>
  <li>New move: Far Light Kick.</li>
  <li>Throw animation recovers 1 frame faster.</li>
</ul>
<h3>Sakura</h3>
<ul>
  <li>Forward Dash recovers faster.</li>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Hurtbox and hitbox around her arm expanded downwards.</li>
  </ul>
  <li>Standing Light Kick:</li>
  <ul>
    <li>Pushback increased.</li>
  </ul>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Hitstun reduced by 5 frames. Hitstun is now the same as the blockstun. Can still combo into LK Shunpukyaku, but can no longer hit the LK Shunpukyaku meaty in a combo.</li>
  </ul>
  <li>Shunpukyaku:</li>
  <ul>
    <li>LK version blockstun reduced by 1 frames, now -1 on block.</li>
  </ul>
  <li>new move: Sakura Otoshi.</li>
  <li>Shinku Tengyo Hadoken replaced with an EX Shooken.</li>
</ul>
<h3>Kazuya</h3>
<ul>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Now hits crouching opponents.</li>
    <li>Hurtbox added around his arm.</li>
  </ul>
  <li>New target combo, Left Right Combo (LP -> HP).</li>
  <li>New target combo, Demon Slayer (LP -> HP -> HP).</li>
  <li>New target combo, Twin Fang Stature Smash (LP -> HP -> HK).</li>
  <li>New target combo, Twin Fang Double Kick (LP -> HP -> HK -> LK).</li>
  <li>Rising Sun:</li>
  <ul>
    <li>LK version start-up reduced, from 14 frames to 11.</li>
  </ul>
</ul>
<h3>Karin</h3>
<ul>
  <li>X-counter changed to far heavy punch. Knocks the opponent further away.</li>
  <li>Removed Dive Kick.</li>
  <li>Walkspeed increased.</li>
  <li>New move: Far Heavy Punch. Standing Heavy Punch changed to a close normal.</li>
  <li>Standing Light Kick:</li>
  <ul>
    <li>Start-up reduced by 1 frame, from 5 to 4.</li>
  </ul>
  <li>Jumping Heavy Punch:</li>
  <ul>
    <li>Now causes a ground bounce against airborne.</li>
  </ul>
  <li>Slide:</li>
  <ul>
    <li>Removed projectile invincible.</li>
  </ul>
  <li>Yasha Gaeshi:</li>
  <ul>
    <li>Both versions changed to 1 frame start-up. Total frame count unchanged, previous start-up frames changed to active frames.</li>
  </ul>
  <li>Mujin Kyaku:</li>
  <ul>
    <li>Removed strike and projectile invincibility.</li>
    <li>Second hit's juggle potential increased from 5 to 6.</li>
  </ul>
  <li>Kanzuki-ryuu Kou-ou Ken:</li>
  <ul>
    <li>Can now jump cancel the last hit.</li>
  </ul>
</ul>
<h3>Haohmaru</h3>
<ul>
  <li>New normal, close heavy punch. Standing heavy punch changed to a far normal.</li>
  <li>Senpuu Retsu Zan:</li>
  <ul>
    <li>Start-up reduced from 27 to 20. Recovery reduced from 47 to 40: now -11 on block.</li>
    <li>Knockback on hit increased.</li>
    <li>Juggle potential reduced to 1.</li>
  </ul>  
  <li>Kogetsu Zan:</li>
  <ul>
    <li>Added strike invincibility frames 1-6.</li>
    <li>Cancel window increased.</li>
  </ul>
  <li>Hiougii TenHa FuJin Zan:</li>
  <ul>
    <li>Invincibility lengthened by 2 frames.</li>
  </ul>
</ul>
<h3>Dan</h3>
<ul>
  <li>Hissho Buraiken:</li>
  <ul>
    <li>Final hit can be cancelled into Legendary Taunt.</li>
  </ul>
  <li>Legendary Taunt:</li>
  <ul>
    <li>Can now be cancelled into any attack (except throw).</li>
    <li>No longer has any invincibility, but still builds meter.</li>
  </ul>
</ul>
<h3>Chun-li</h3>
<ul>
  <li>Walkspeed increased.</li>
  <li>Standing Light Punch changed to a close normal.</li>
  <li>New move: Far Light punch.</li>
  <li>Standing Light Kick changed to a close normal.</li>
  <li>New move: Far Light Kick.</li>
  <li>New move: Close Heavy Punch.</li>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Now a far normal.</li>
    <li>Damage increased from 100 to 110.</li>
    <li>Can no longer be cancelled.</li>
    <li>Recovery increased by 4 frames. Now -1 on hit, -5 on block.</li>
  </ul>
  <li>New move: Close Heavy Kick.</li>
  <li>New move: Far Heavy Kick.</li>
  <li>Standing Heavy Kick changed to Back Heavy Kick.</li>
  <li>New move: Back Heavy Punch.</li>
  <li>New move: Forward Heavy Kick.</li>
  <li>Added an EX Spinning Bird Kick.</li>
</ul>
<h3>Joe</h3>
<ul>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Shrunk the hurtbox around his arm.</li>
  </ul>
  <li>Crouching Light Punch:</li>
  <ul>
    <li>Damage increased, from 25, to 30.</li>
  </ul>
  <li>Crouching Light Kick:</li>
  <ul>
    <li>Damage increased from 30 to 40.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Recovery reduced by 2 frames, now +7 on hit, +4 on block.</li>
  </ul>
  <li>New move: Down Forward Heavy Kick (Slide)</li>
  <li>Hurricane Upper:</li>
  <ul>
    <li>Light version's recovery reduced by 6 frames, now -3 on block.</li>
  </ul>
  <li>Tiger Kick:</li>
  <ul>
    <li>Can now hit crouching opponents.</li>
  </ul>
  <li>Screw Upper:</li>
  <ul>
    <li>Changed to be his Ultra.</li>
    <li>Number of hits reduced, from 24 to 12.</li>
    <li>Recovery reduced by 20 frames.</li>
    <li>Now heavily + on block.</li>
    <li>Damage reduced, from 456 to 300.</li>
    <li>Final hit's juggle cost changed from 10 to 4.</li>
  </ul>
  <li>Exploding Hurricane Tiger Heel:</li>
  <ul>
    <li>Changed to be a level 2 super.</li>
    <li>Damage distribution adjusted, total damage increased from 270 to 350.</li>
  </ul>
</ul>
<h3>Terry</h3>
<ul>
  <li>Crouching Light Punch:</li>
  <ul>
    <li>Start-up increased, from 3 frames to 4.</li>
  </ul>
  <li>Crouching Light Kick:</li>
  <ul>
    <li>Start-up increased, from 3 frames to 4.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Start-up increased, from 4 frames to 5.</li>
    <li>Recovery reduced by 1 frame, now +6/+3.</li>
  </ul>
  <li>Gut Punch:</li>
  <ul>
    <li>Start-up reduced, from 4 frames to 3.</li>
    <li>Can no longer chain into standing/crouching heavy punch.</li>
    <li>Hitstun/blockstun reduced by 1 frame, now +1/+1.</li>
  </ul>
  <li>Backhand Punch:</li>
  <ul>
    <li>Hitstun reduced by 2 frames, now -12 on hit.</li>
    <li>Blockstun reduced by 5 frames, now -15 on block.</li>
  </ul>
  <li>Power Wave:</li>
  <ul>
    <li>Hitbox made lower to the ground.</li>
  </ul>
  <li>Crack Shoot:</li>
  <ul>
    <li>Blockstun of the LK version reduced by 1 frame, now -1 on block.</li>
    <li>Hitstun of the HK version increased by 1 frame, now +5 on hit.</li>
    <li>Blockstun of the HK version increased by 2 frames, now +1 on block.</li>
    <li>HK version no longer hits overhead.</li>
  </ul>
  <li>Shoulder Tackle:</li>
  <ul>
    <li>Forward movement increased.</li>
  </ul>
  <li>Burn Knuckle:</li>
  <ul>
    <li>Now causes a hard knockdown.</li>
  </ul>
  <li>Round Wave:</li>
  <ul>
    <li>Changed to an EX Power Wave.</li>
  </ul>
  <li>Rising Tackle:</li>
  <ul>
    <li>Invincibility reduced to frames 1-7, from frames 1-12.</li>
    <li>Crushes airborne attacks frames 7-24.</li>
    <li>Added an EX version.</li>
  </ul>
</ul>
<h3>Hibiki</h3>
<ul>
  <li>Normals, aside from crouching/standing heavy kick, no longer do chip damage.</li>
  <li>Crouching Light Punch:</li>
  <ul>
    <li>Hurtbox expanded forward.</li>
    <li>Hurtbox around her arm now appears 1 frame before the hitbox.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Hurtbox added around her arm, will no longer low profile under standard projectiles.</li>
  </ul>
  <li>Quick Draw:</li>
  <ul>
    <li>Hurtbox expanded forward.</li>
    <li>Hurtbox around her arm now appears 1 frame before the hitbox.</li>
  </ul>
</ul>
<h3>Megaman</h3>
<ul>
  <li>Dive Kick removed.</li>
  <li>Launch Kick:</li>
  <ul>
    <li>Crushes airborne attacks frames 12-19.</li>
  </ul>
  <li>Buster Cannon:</li>
  <ul>
    <li>Hitboxes changed to fast traveling projectiles.</li>
  </ul>
  <li>Laser Upper:</li>
  <ul>
    <li>HP version crushes airborne attacks frames 1-13</li>
  </ul>
  <li>Mine Launch:</li>
  <ul>
    <li>Explosion can now be blocked, but does high guard damage.</li>
  </ul>
  <li>Shining Laser:</li>
  <ul>
    <li>Changed to a horizontal beam.</li>
  </ul>
</ul>
<h3>Klonoa</h3>
<ul>
  <li>Crouching Heavy Kick:</li>
  <ul>
    <li>Hitstun and blockstun increased by 7 frames, now +2/-1.</li>
    <li>Cannot be cancelled into ring shot.</li>
    <li>Now causes a restand on hit.</li>
    <li>Now hits OTG.</li>
  </ul>
</ul>
<h3>Dudley</h3>
<ul>
  <li>Fixed his x-counter/dodge attack to use the right animation.</li>
  <li>Taunt:</li>
  <ul>
    <li>Rose projectile now tracks the opponent's position when it is thrown.</li>
  </ul>
  <li>Kidney Blow:</li>
  <ul>
    <li>Forward movement increased a bit.</li>
  </ul>
  <li>Dart Shot:</li>
  <ul>
    <li>No longer ground bounces. Instead, spikes airborne opponents to the ground for a hard knockdown.</li>
  </ul>
  <li>Jet Upper:</li>
  <ul>
    <li>fixed the chip damage on the light version, from 30 -> 18.</li>
  </ul>
  <li>Ducking Straight:</li>
  <ul>
    <li>Blockstun increased by 2 frames, now -4 on block.</li>
  </ul>
  <li>Corkscrew Cross:</li>
  <ul>
    <li>Recovery reduced by 18 frames.</li>
    <li>Blockstun also reduced by 18 frames so advantage remains the same.</li>
  </ul>
</ul>
<h3>Lucario</h3>
<ul>
  <li>Health and Stun increased, from 850 to 950.</li>
  <li>Crouching Heavy Kick:</li>
  <ul>
    <li>Start-up reduced, from 10 -> 6.</li>
    <li>Recovery reduced by 4 frames, now -6 on block.</li>
  </ul>
  <li>Elbow Strike removed.</li>
  <li>Metal Claw:</li>
  <ul>
    <li>Removed air crush.</li>
  </ul>
  <li>Double Kick:</li>
  <ul>
    <li>Light version now crushes airborne attacks frames 1-9</li>
    <li>Heavy version now crushes airborne attacks frames 1-21</li>
  </ul>
</ul>
<h3>Yang</h3>
<ul>
  <li>Forward Walkspeed increases slightly.</li>
  <li>Jumping Heavy Kick:</li>
  <ul>
    <li>Now causes a knockdown vs airborne.</li>
  </ul>
  <li>Mantis Slash:</li>
  <ul>
    <li>Third Attack's launch height increased, allowing for combos out of it in the corner.</li>
  </ul>
</ul>
<h3>Blaziken</h3>
<ul>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Removed air crush.</li>
  </ul>
  <li>Flamethrower:</li>
  <ul>
    <li>Now does only one hit. Blockstun adjusted to keep frame advantage the same.</li>
    <li>Active frames reduced, from 21 to 15.</li>
  </ul>
</ul>
<h3>Yun</h3>
<ul>
  <li>Jumping Heavy Kick:</li>
  <ul>
    <li>Now causes a knockdown vs airborne.</li>
  </ul>
</ul>
<h3>Link</h3>
<ul>
  <li>Normals no longer do chip damage.</li>
  <li>Hurtbox expanded on his sword normals.</li>
  <li>Hurtbox around his arm on his sword normals appear one frame before the hitbox.</li>
</ul>
<h3>Squall</h3>
<ul>
  <li>Normals no longer do chip damage.</li>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Shrunk the hurtbox around his arm.</li>
  </ul>
  <li>Close Light Kick:</li>
  <ul>
    <li>Pushback increased.</li>
  </ul>
  <li>Standing Heavy Kick:</li>
  <ul>
    <li>Hurtbox expanded.</li>
    <li>Hurtbox appears one frame before the hitbox.</li>
  </ul>
  <li>Crouching Heavy Kick:</li>
  <ul>
    <li>Hurtbox expanded.</li>
    <li>Hurtbox appears one frame before the hitbox.</li>
  </ul>
  <li>Forward Heavy Punch:</li>
  <ul>
    <li>Hurtbox around his arm expanded.</li>
  </ul>
</ul>
<h3>Rainbow Dash</h3>
<ul>
  <li>Health and Stun increased from 850 to 900.</li>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Fixed the counter-hit property on rebound.</li>
    <li>Horizontal speed on rebound increased.</li>
  </ul>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Removed pushback on the first hit.</li>
    <li>Pushback on the second hit increased.</li>
  </ul>
  <li>Jumping Heavy Punch:</li>
  <ul>
    <li>Hitstun and blockstun reduced by 6 frames and 5 frames respectively. Landing recovery increased by 2 frames. This fixes the flight cancel infinite on grounded opponents.</li>
  </ul>
</ul>
<h3>Rock</h3>
<ul>
  <li>Back walkspeed increased.</li>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Removed the hurtbox around his arm.</li>
  </ul>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Damage reduced, from 130 to 120.</li>
  </ul>
  <li>Added a new move, far light kick. Standing light kick changed to a close normal.</li>
  <li>Added a new move, close heavy punch. Standing heavy punch changed to a far normal.</li>
  <li>Added a new move, close heavy kick. Standing heavy kick changed to a far normal.</li>
  <li>Crouching Heavy Kick:</li>
  <ul>
    <li>Juggle potential increased from 4 to 5.</li>
  </ul>
  <li>Jumping Light Kick:</li>
  <ul>
    <li>No longer causes a knockdown against airborne.</li>
  </ul>
  <li>Throw:</li>
  <ul>
    <li>Reduced the ability to juggle off of it.</li>
  </ul>
  <li>Shinkuu Nage:</li>
  <ul>
    <li>Increased the ability to juggle off of it.</li>
  </ul>
  <li>Reppuken:</li>
  <ul>
    <li>Hitbox made lower to the ground.</li>
  </ul>
</ul>
<h3>Geese</h3>
<ul>
  <li>Reppuken:</li>
  <ul>
    <li>Hitbox made lower to the ground.</li>
  </ul>
</ul>
<h3>Iori:</h3>
<ul>
  <li>Projectile:</li>
  <ul>
    <li>Hitbox made lower to the ground.</li>
  </ul>
</ul>
<h3>Jon Talbain</h3>
<ul>
  <li>Close Light Punch:</li>
  <ul>
    <li>Pushback increased.</li>
  </ul>
  <li>Crouching Light Punch:</li>
  <ul>
    <li>Shrunk hitbox.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Shrunk the size of the hitbox horizontally.</li>
  </ul>
  <li>Forward Heavy Kick:</li>
  <ul>
    <li>Recovery increased by 6 frames, now -4 on block.</li>
  </ul>
  <li>Climb Laser:</li>
  <ul>
    <li>Sped up the animation.</li>
    <li>Active frames reduced, from 11 to 6.</li>
  </ul>
  <li>Dragon Cannon:</li>
  <ul>
    <li>Changed to do only one hit.</li>
    <li>Cannot be nullified by projectiles.</li>
  </ul>
</ul>
<h3>Rolento</h3>
<ul>
  <li>Taunt:</li>
  <ul>
    <li>Recovery increased.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Reduced hit-freeze.</li>
  </ul>
  <li>Air Light Punch:</li>
  <ul>
    <li>Reduced hit-freeze.</li>
  </ul>
  <li>Trick Rod:</li>
  <ul>
    <li>Changed to an overhead.</li>
    <li>Moves forward during start-up.</li>
  </ul>
  <li>Patriot Circle:</li>
  <ul>
    <li>Reduced hit-freeze on all versions.</li>
  </ul>
  <li>Stinger:</li>
  <ul>
    <li>Hitstun and blockstun reduced by 3 frames.</li>
  </ul>
</ul>
<h3>Sagat</h3>
<ul>
  <li>Tiger Uppercut:</li>
  <ul>
    <li>Invincibility extended, from frames 1-5 to frames 1-8.</li>
  </ul>
</ul>
<h3>Ryuji</h3>
<ul>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Shrunk the hurtbox around his arm.</li>
  </ul>
</ul>
<h3>Yuri</h3>
<ul>
  <li>Walkspeed increased slightly.</li>
  <li>Standing Heavy Punch:</li>
  <ul>
    <li>Changed the origin point. Hurtbox and hitbox unchanged, but range is increased.</li>
  </ul>
</ul>
<h3>Ibuki</h3>
<ul>
  <li>Walkspeed slightly increased.</li>
  <li>Standing Heavy punch:</li>
  <ul>
    <li>Added forward movement during start-up, and back movement during recovery.</li>
  </ul>
  <li>Spin Kick:</li>
  <ul>
    <li>Hitstun reduced by 1 frame, now +2 on hit. Can no longer combo into HK Tsumuji.</li>
  </ul>
  <li>Backhand Punch:</li>
  <ul>
    <li>Added back movement during recovery.</li>
  </ul>
  <li>Tsumuji:</li>
  <ul>
    <li>Pushback in the corner increased on the light and heavy versions.</li>
  </ul>
</ul>
<h3>Snake</h3>
<ul>
  <li>Standing Light Punch:</li>
  <ul>
    <li>Shrunk the hurtbox around his arm.</li>
  </ul>
</ul>
<h3>Athena</h3>
<ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Added a hurtbox around her arm.</li>
  </ul>
  <li>Psycho Reflector:</li>
  <ul>
    <li>Input changed from half-circle backwards to quarter-circle backwards.</li>
  </ul>
</ul>
<h3>Guy</h3>
<ul>
  <li>Bushin Muso Renge:</li>
  <ul>
    <li>No longer teleports to the center of the stage when it connects.</li>
  </ul>
</ul>
<h3>Bison</h3>
<ul>
  <li>Double Knee Press:</li>
  <ul>
    <li>Increased pushback in the corner.</li>
  </ul>
  <li>Head Press:</li>
  <ul>
    <li>Shrunk hitbox horizontally.</li>
  </ul>
  <li>Somersault Skull Diver:</li>
  <ul>
    <li>Now auto-corrects if you start it facing the wrong way.</li>
  </ul>
</ul>
<h3>Nakoruru</h3>
<ul>
  <li>Close Heavy Punch:</li>
  <ul>
    <li>Hitstun and blockstun on the first hit reduced by 5 frames.</li>
  </ul>
  <li>ChiTenZan:</li>
  <ul>
    <li>Hitstun and blockstun reduced by 8 frames, now -2/-2.</li>
  </ul>
  <li>Mamahaha Grab:</li>
  <ul>
    <li>Cancel window into follow-ups moves, from frame 17 to frame 22.</li>
  </ul>
</ul>
<h3>Captain Commando</h3>
<ul>
  <li>Walkspeed increased slightly.</li>
  <li>Captain Sword:</li>
  <ul>
    <li>Animation on hit reduced in length.</li>
  </ul>
</ul>
<h3>Applejack</h3>
<ul>
  <li>Health and Stun increased, from 950 to 1000.</li>
  <li>Walkspeed increased slightly.</li>
  <li>Crouching Light Kick:</li>
  <ul>
    <li>Recovery reduced by 2 frames, now +7/+4.</li>
  </ul>
  <li>New move: Far Heavy Kick. Standing heavy kick changed to a close normal.</li>
  <li>New move: Quick Step (QCF + P). Acts as a command dash. LP version is faster, HP version is slower but can pass through opponents.</li>
  <li>New move: Sway (QCB + P). Applejack quickly dashes backwards, has strike invincibility frames at the start.</li>
  <li>New move: EX Applebuck.</li>
  <li>Lasso: Button input changed from punches to kicks.</li>
  <li>Bionic Farm:</li>
  <ul>
    <li>Input changed from QCF + KK to QCF + PP.</li>
  </ul>
</ul>
<h3>Zero</h3>
<ul>
  <li>Throw:</li>
  <ul>
    <li>Limited the ability to combo after.</li>
  </ul>
  <li>Shippuga:</li>
  <ul>
    <li>Can no longer be cancelled into Buster Shot.</li>
  </ul>
  <li>Genmu Zero:</li>
  <ul>
    <li>Can no longer combo afterwards.</li>
  </ul>
</ul>
<h3>Elena</h3>
<ul>
  <li>Throw:</li>
  <ul>
    <li>Range increased.</li>
  </ul>
  <li>EX Spin Scythe:</li>
  <ul>
    <li>Fixed the move gaining meter on hit.</li>
  </ul>
  <li>EX Lynx Tail:</li>
  <ul>
    <li>Final hit no longer hits low.</li>
  </ul>
</ul>
<h3>Rarity</h3>
<ul>
  <li>Health increased, from 900 to 950.</li>
  <li>Stun increased, from 850 to 950.</li>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Fixed the air crush property so it only covers frames 9-15 instead of the entire move.</li>
  </ul>
</ul>
<h3>Kula</h3>
<ul>
  <li>All normal attacks (aside from close heavy kick, crouching heavy kick, jumping heavy kick and Slider Shoot) cause an air reset.</li>
  <li>Close Heavy Kick:</li>
  <ul>
    <li>Juggle potential changed, from 4 to 1.</li>
    <li>Juggle cost adjusted, 0 for the first hit and 1 for the second.</li>
  </ul>
  <li>Crouching Heavy Punch:</li>
  <ul>
    <li>Shrunk the hitbox horizontally.</li>
  </ul>
</ul>
<h3>Sonson</h3>
<ul>
  <li>Close Heavy Punch:</li>
  <ul>
    <li>Pushback increased.</li>
  </ul>
  <li>Close Heavy Kick:</li>
  <ul>
    <li>Pushback increased.</li>
  </ul>
  <li>Forward Heavy Punch:</li>
  <ul>
    <li>Shrunk the hitbox horizontally.</li>
  </ul>
</ul>
</div>
</div>