<div class="MainPage">
<div class="MainImg"><%= image_tag "main.png" %>
</div>

<div class="HomeNav">
Navigation
<ol>
  <li><a href="/#Char" class="mainlink">Characters</a></li>
  <li><a href="/#Term" class="mainlink">Terminology</a></li>
  <li><a href="/#Systems" class="mainlink">Game Systems</a></li> 
  <li><a href="/#Basics" class="mainlink">The Basics</a></li>
  <li><a href="/#Abilities" class="mainlink">Universal Abilities</a></li> 
  <li><a href="/#Select" class="mainlink">Selectable Mechanics</a></li> 
  <li><a href="/#Elements" class="mainlink">Game Elements</a></li> 
  <li><a href="/#Version" class="mainlink">Version History</a></li>
</ol>
</div>

<h1 id="gametitle">VGFC - Worlds Collide</h1>
<p id="gamedesc">It's not good enough just to be the greatest fighter in your world. It's time you proved yourself to be the greatest fighter across <strong>all</strong> worlds. Characters from various different universes have joined together to prove themselves to be the best. Who will come out on top?</p>

<h2 id="Char">Characters</h2>

<%= render 'layouts/characters' %>

<h2 id="Term">Terminology</h2>
<p>Throughout the various character pages, there's going to be a lot of different terms used to describe how things work. Below you can find explanations for what these different terms mean.</p>
<ul>
  <li><a href="#" class="badlink">Terminology</a></li>
</ul>
<h2 id="Systems">Game Systems</h2>
<p>Throughout this section, there will be details on how just about everything in the game works.</p>
<h3 id="Basics">The Basics</h3>
<p>As the title implies, these are the very basic elements of the game. A good starting point.</p>
<ul>
  <li><a href="#" class="badlink">The Basics</a></li>
</ul>
<h3 id="Abilities">Universal Abilities</h3>
<p>These are actions that every character is able to perform, regardless of which universal mechanics you select.</p>
<ul>
  <li><a href="#" class="badlink">Universal Abilities</a></li>
</ul>
<h3 id="Select">Selectable Mechanics</h3>
<p>These are the different abilities you can give a character via the game's mechanic selection, such as parries and rolls.</p>
<ul>
  <li><a href="#" class="badlink">Selectable Mechanics</a></li>
</ul>
<h3 id="Elements">Game Elements</h3>
<p>More detailed explanations of how other elements of the game work, such as counter hits and damage scaling.</p>
<ul>
  <li><a href="#" class="badlink">Game Elements</a></li>
</ul>
<h2 id="Version">Version History</h2>
<p>This section goes over the various different versions of the game and the many changes that the game has received with them.</p>
<ul>
  <li><a href="changes" class="mainlink">Version History</a></li>
</ul>
<h2 id="Version">Download</h2>
<p>Click the link below to head to the Mediafire page where you can download the game (current version: 1.06).
<ul>
  <li><a href="https://www.mediafire.com/folder/qz7dv0qnxah99/VGFC" class="mainlink">Download</a></li>
</ul>
Download the VGFC - Worlds Collide.zip file, extract everything, and you should be good to go. Also includes an Excel spreadsheet with all of the frame data.

To update to 1.06, simply download the VGFC - Worlds Collide 106 folder, and move the .exe file in there to the main folder to replace the old one.

Since 1.05 was only an .exe file, it has been removed as it is not required to update to 1.06.</p>
</div>