<div class="MainImg"><img src="http://i.imgur.com/NCpVo2J.png">
</div>

<h1 id="gametitle">VGFC - Worlds Collide</h1>
<p>It's not good enough just to be the greatest fighter in your world. It's time you proved yourself to be the greatest fighter across <strong>all</strong> worlds. Characters from various different universes have joined together to prove themselves to be the best. Who will come out on top?</p>

<h2 id="Char">Characters</h2>
<%= link_to image_tag("http://i.imgur.com/uNZVnTy.png"), "fighters/ryu" %>
<%= link_to image_tag("http://i.imgur.com/3rUGgI5.png"), "fighters/kim" %>
<br>
