<% provide(:title, "Dhalsim") %>
<div id="FighterPage">
<h1 id="Name">Dhalsim</h1>
<%= image_tag "dhalsim/bust.png", :class => "FighterImg" %>
<p class="Bio">Dhalsim is a video game character from the Street Fighter series of fighting games. Dhalsim is famous throughout the Street Fighter series for his stretchy, lanky body and fire attacks.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Dhalsim">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/dhalsimmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/dhalsimframes' %>

</div>
</div>