<% provide(:title, "Evil Ryu") %>
<div id="FighterPage">
<h1 id="Name">Evil Ryu</h1>
<%= image_tag "eryu/bust.png", :class => "FighterImg" %>
<p class="Bio">Evil Ryu, abbreviated Satsui Ryu in Street Fighter Alpha 3 and in the Street Fighter IV series, or Dark Ryu in the UDON comics, is a playable character in various Street Fighter games beginning with Street Fighter Alpha 2. He was originally introduced in 1996 Street Fighter Zero manga series authored by Masahiko Nakahira, and later adapted into the Street Fighter games by Capcom.
<br>
<br>
Bio from <a href=”http://streetfighter.wikia.com/wiki/Evil_Ryu”>The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/ryumoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/ryuframes' %>

</div>
</div>