<% provide(:title, "Fluttershy") %>
<div id="FighterPage">
<h1 id="Name">Fluttershy</h1>
<%= image_tag "fluttershy/bust.png", :class => "FighterImg" %>
<p class="Bio">Fluttershy is a female Pegasus pony and one of the main characters of My Little Pony: Friendship is Magic. She lives in a small cottage near the Everfree Forest and takes care of animals, the most prominent of her charges being Angel the bunny. She represents the element of kindness.
<br>
<br>
Bio from <a href="http://mlp.wikia.com/wiki/Fluttershy">The MLP wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/fluttershymoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/fluttershyframes' %>

</div>
</div>