<% provide(:title, "Gardevoir") %>
<div id="FighterPage">
<h1 id="Name">Gardevoir</h1>
<%= image_tag "gardevoir/bust.png", :class => "FighterImg" %>
<p class="Bio">Gardevoir is a dual-type Psychic/Fairy Pokemon, and prior to Generation VI, a pure Psychic-type Pokemon.
<br>
<br>
It evolves from Kirlia starting at level 30. It is one of Ralts' final forms, the other being Gallade. It can Mega Evolve into Mega Gardevoir using the Gardevoirite.
<br>
<br>
Bio from <a href="http://bulbapedia.bulbagarden.net/wiki/Gardevoir_(Pok%C3%A9mon)">Bulbapedia</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/gardevoirmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/gardevoirframes' %>

</div>
</div>