<% provide(:title, "Guile") %>
<div id="FighterPage">
<h1 id="Name">Guile</h1>
<%= image_tag "guile/bust.png", :class => "FighterImg" %>
<p class="Bio">Guile is a video game character in Capcom's Street Fighter series of fighting games, introduced in Street Fighter II. Although his role in the Street Fighter story was at first minimal, he is considered the third leading and best male character in the series, after Ryu and Ken, largely due to his effectiveness as a character and his popularity.
<br>
<br>
In the live action Street Fighter movie, Guile is given the full name of William F. Guile, with the military rank of colonel. Although Capcom did not canonize the name, it was also used in the US Street Fighter cartoon that was loosely based on the movie. However, in UDON's Street Fighter comic book, "Guile" is the character's first name. According to the official Street Fighter website, Guile has the USAF rank of Major at the time of Street Fighter IV.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Guile">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/guilemoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/guileframes' %>

</div>
</div>