<% provide(:title, "Mike Haggar") %>
<div id="FighterPage">
<h1 id="Name">Mike Haggar</h1>
<%= image_tag "haggar/bust.png", :class => "FighterImg" %>
<p class="Bio">Michael "Mike" Haggar is the deuteragonist of the Final Fight series and an ex-wrestler from Slam Masters. Though he hasn't made a playable character in the Street Fighter series, he still plays a role in the back-stories of Cody and Guy, as well as being a major enemy to the Mad Gear Gang characters such as Hugo, Sodom, Poison and Rolento. He has many cameo appearances in Street Fighter stages and in several characters' intros and endings.
<br>
<br>
Haggar made his debut in the original Final Fight, originally released for the arcades in 1989. He is described as a former "Street Fighter" and pro wrestler turned mayor of Metro City.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Mike_Haggar">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/haggarmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/haggarframes' %>

</div>
</div>