<% provide(:title, "Jill Valentine") %>
<div id="FighterPage">
<h1 id="Name">Jill Valentine</h1>
<%= image_tag "jill/bust.png", :class => "FighterImg" %>
<p class="Bio">TBW</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/jillmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/jillframes' %>

</div>
</div>