<% provide(:title, "Jin Kazama") %>
<div id="FighterPage">
<h1 id="Name">Jin Kazama</h1>
<%= image_tag "jin/bust.png", :class => "FighterImg" %>
<p class="Bio">Jin Kazama is one of the main characters of the Tekken series. He is featured on the packaging for the console version of each sequel following his introduction in Tekken 3, he has also been the main protagonist for virtually every installment since his debut in Tekken 3 and his role as an anti-hero in Tekken 6.
<br>
<br>
While Jin is the main protagonist of the series, his half-uncle Lars Alexandersson takes his place in Tekken 6. Despite this, it could be seen as co-protagonism as Jin's role in the game is the most integral and consequential in the game.
<br>
<br>
Bio from <a href="http://tekken.wikia.com/wiki/Jin_Kazama">The Tekken Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/jinmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/jinframes' %>

</div>
</div>