<% provide(:title, "Juri") %>
<div id="FighterPage">
<h1 id="Name">Juri</h1>
<%= image_tag "juri/bust.png", :class => "FighterImg" %>
<p class="Bio">Juri Han is a character in the Street Fighter series. She makes her debut in Super Street Fighter IV, where she is a main character int he storyline. She is 25 years old and is a member of S.I.N.
<br>
<br>
Juri is the first Korean character and the first Taekwondo user in the Street Fighter series, as well as the first true villainess.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Juri">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/jurimoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/juriframes' %>

</div>
</div>