<% provide(:title, "Karin") %>
<div id="FighterPage">
<h1 id="Name">Karin</h1>
<%= image_tag "karin/bust.png", :class => "FighterImg" %>
<p class="Bio">Karin Kanzuki is a character from the Street Fighter series. She was originally a character from the 1996 Street Fighter manga Sakura Ganbaru! authored by Masahiko Nakahira. Her character would be integrated into the video game series in Street Fighter Alpha 3, where she appears as a playable character. She is set to return in the upcoming Street Fighter V.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Karin">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/karinmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/karinframes' %>

</div>
</div>