<% provide(:title, "Kazuya") %>
<div id="FighterPage">
<h1 id="Name">Kazuya</h1>
<%= image_tag "kazuya/bust.png", :class => "FighterImg" %>
<p class="Bio">Kazuya Mishima is one of the main characters in the Tekken series. He appears in all of the Tekken games except Tekken 3 in which he only made two cameo appearances. Though seen as the protagonist and hero of the first Tekken game, Kazuya is one of the major villains in the rest of the series. Most importantly, Kazuya is the son of Heihachi Mishima and the father of Jin Kazama. He's also the half-brother of Lars Alexandersson, the adoptive brother of Lee Chaolan, and the grandson of Jinpachi Mishima.
<br>
<br>
Bio from <a href="http://tekken.wikia.com/wiki/Kazuya_Mishima">The Tekken Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/kazuyamoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/kazuyaframes' %>

</div>
</div>