<% provide(:title, "Ken") %>
<div id="FighterPage">
<h1 id="Name">Ken</h1>
<%= image_tag "ken/bust.png", :class => "FighterImg" %>
<p class="Bio">Ken, also known by his full name, Ken Masters, is a video game character created by Capcom. He is one of the protagonists and main characters of the Street Fighter series. Ken is also stated to be the second most popular character in the series, coming second to Ryu. Like Ryu, Ken's goal is to test his power against many different fighters and strive to become stronger but holds more restraint due to not wanting to jeopardize his family life.
<br>
<br>

Bio from <a href="http://streetfighter.wikia.com/wiki/Ken_Masters">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/kenmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/kenframes' %>

</div>
</div>