<% provide(:title, "King") %>
<div id="FighterPage">
<h1 id="Name">King</h1>
<%= image_tag "king/bust.png", :class => "FighterImg" %>
<p class="Bio">King is a character in both Art of Fighting and The King of Fighters series. She debuted in the original Art of Fighting as the sole playable female character.
<br>
<br>
King's appearance in the first game was made to hide her gender, with the game's flyer even using he to refer to the character.
<br>
<br>
Bio from <a href="http://snk.wikia.com/wiki/King">The SNK Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/kingmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/kingframes' %>

</div>
</div>