<% provide(:title, "Kyo Kusanagi") %>
<div id="FighterPage">
<h1 id="Name">Kyo</h1>
<%= image_tag "kyo/bust.png", :class => "FighterImg" %>
<p class="Bio">Kyo Kusanagi is the main protagonist in SNK Playmore's The King of Fighters video game series. He was first introduced in The King of Fighters '94 as the leader of the Japan team. He is the rival of Iori Yagami and K'.
<br>
<br>
He was first introduced as a cocky delinquent high school student who is the heir of the Kusanagi clan, one of three clans that sealed the legendary snake entity, Orochi, 1,800 years ago. His clan wields pyrokinetic powers, an inherited power that few members obtain. They, along with the Yasakani and Yata clans, keep one of the three sacred treasures used to contain Orochi long ago. His family's treasure is the Kusanagi Sword, and his family crest is the sun, represented in a stylized halo of fire. His official nickname is <strong>Scion of the Flame.</strong>
<br>
<br>
Aside from the main series, Kyo also has a spin-off manga story based on his adventure in The King of Fighter '96, entitled The King of Fighters: Kyo. A video game under the same name was also created to further expand his character. In addition, a number of image songs and audio dramas featuring Kyo's character have been released, including the contents of his own character image album consisting of all of his theme songs. He is also a member of SNK's character image band, The Band of Fighters.
<br>
<br>
Bio from <a href="http://snk.wikia.com/wiki/Kyo_Kusanagi">The SNK Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/kyomoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/kyoframes' %>

</div>
</div>