<% provide(:title, "Maki") %>
<div id="FighterPage">
<h1 id="Name">Maki</h1>
<%= image_tag "maki/bust.png", :class => "FighterImg" %>
<p class="Bio">Maki Genryusai, more commonly known simply as Maki, is a video game character in the Final Fight series and the Street Fighter series. Designed as a speedy ninja along the same lines as Guy, Maki made her first appearance in Final Fight 2 where she is fighting alongside Mike Haggar and Carlos Miyamoto; essentially replacing Guy in that game.
<br>
<br>
She returned from a long time of absence and obscurity in Capcom vs SNK 2, which made Maki notable for being the only original character from the Final Fight sequels to make return appearances in later games. Her profile in Final Fight 2 states that she is 20 years old by then, at least in the western versions.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Maki">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/makimoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/makiframes' %>

</div>
</div>