<% provide(:title, "Makoto") %>
<div id="FighterPage">
<h1 id="Name">Makoto</h1>
<%= image_tag "makoto/bust.png", :class => "FighterImg" %>
<p class="Bio">Makoto is a character in the Street Fighter series. She first appeared in Street Fighter III: 3rd Strike and is voiced by Makoto Tsumura. She returns as a playable character in Super Street Fighter IV.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Makoto">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/zemp' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/zemp' %>

</div>
</div>