<% provide(:title, "Rainbow Dash") %>
<div id="FighterPage">
<h1 id="Name">Rainbow Dash</h1>
<%= image_tag "rainbow/bust.png", :class => "FighterImg" %>
<p class="Bio">Rainbow Dash is a female Pegasus pony and one of the main characters in My Little Pony Friendship is Magic. She maintains the weather and clears the skies in Ponyville. As a huge fan of the Wonderbolts, she dreams of one day joining their elite flying group. In Sonic Rainboom, Rarity and Princess Celestia both declare that she is the best flier in all of Equestria. Rainbow Dash has a pet tortoise named Tank, whom she chooses out of Fluttershy's offered animals in the episode May the Best Pet Win! She represents the element of loyalty.
<br>
<br>
Bio from <a href="http://mlp.wikia.com/wiki/Rainbow_Dash">The MLP Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/rainbowmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/rainbowframes' %>

</div>
</div>