<% provide(:title, "Rolento") %>
<div id="FighterPage">
<h1 id="Name">Rolento</h1>
<%= image_tag "rolento/bust.png", :class => "FighterImg" %>
<p class="Bio">TBW</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/haggarmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/haggarframes' %>

</div>
</div>