<% provide(:title, "Rugal") %>
<div id="FighterPage">
<h1 id="Name">Rugal</h1>
<%= image_tag "rugal/bust.png", :class => "FighterImg" %>
<p class="Bio">Rugal Bernstein is a recurring boss in SNK Playmore's The King of Fighters fighting ame series. On their anniversary website, SNK has stated that Rugal was originally based on the concept of the "mightiest and most evil boss character ever." Toyohisa Tanabe states that his fighting style was created to emphasize Rugal's strength as the series' first boss character. He also comments "going a bit overboard" with Genocide Cutter's damage ratio in The King of Fighters '94.
<br>
<br>
Bio from <a href="http://snk.wikia.com/wiki/Rugal_Bernstein">The SNK Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/rugalmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/rugalframes' %>

</div>
</div>