<% provide(:title, "Ryo") %>
<div id="FighterPage">
<h1 id="Name">Ryo</h1>
<%= image_tag "ryo/bust.png", :class => "FighterImg" %>
<p class="Bio">Ryo Sakazaki is the main character in Art of Fighting, and one of the main characters in The King of Fighters, both fighting game series from SNK. His name is most often written in kana, however, in some games kanji is used to write parts of his name. He earned the nickname, "The Invincible Dragon."
<br>
<br>
In Gamest's 1997 Heroes Collection, Ryo was voted as the staff's twenty-fourth favorite character. He shared the spot with Sie Kensou and Toru Kurosawa, a character from an adult game series. In a 2005 poll made by SNK-Playmore USA, he was voted as the fifth fan favorite character with a total of 193 votes.
<br>
<br>
Bio from <a href="http://snk.wikia.com/wiki/Ryo_Sakazaki">The SNK Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/ryomoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/ryoframes' %>

</div>
</div>