<% provide(:title, "Ryu") %>
<div id="FighterPage">
<h1 id="Name">Ryu</h1>
<%= image_tag "ryu/bust.png", :class => "FighterImg" %>
<p class="Bio">Ryu is the lead protagonist and one of the main characters in the Street Fighter series of fighting games. Ryu has made an appearance in every Street Fighter game, as well as in almost every crossover fighting game to feature Capcom characters.
<br>
<br>
Ryu has become the most famous character in the fighting game genre, starring in early fighting games such as Street Fighter and starting to become popular in Street Fighter II, where he was considered a "basic" character. He, along with Mega Man, is considered one of Capcom's unofficial mascots.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Ryu" target="_blank">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/ryumoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/ryuframes' %>

</div>
</div>