<% provide(:title, "Ryu") %>
<h1>Ryu</h1>
<%= image_tag "ryu/bust.png" %>
<p>Insert bio here</p>
<h2>The Basics</h2>
<p>Basic info goes here</p>
<h2>Move Info</h2>
<p>Standing Light Punch</p>
<%= image_tag "ryu/slp" %>