<% provide(:title, "Sakura") %>
<div id="FighterPage">
<h1 id="Name">Sakura</h1>
<%= image_tag "sakura/bust.png", :class => "FighterImg" %>
<p class="Bio">Sakura Kasugano is a character in the Street Fighter series who made her debut in Street Fighter Alpha 2. She is a Japanese schoolgirl who has an intense fascination with Ryu. She has managed to copy and learn some of Ryu's techniques, but really wants him to train her personally.
<br>
<br>
She is the fourth female fighter in the series (after Chun-li, Cammy and Rose). She has a friend named Kei Chitose, who attends the same high school, Tamagaway Minami High, and sometimes goes along with Sakura on her street fight tour.
<br>
<br>
Bio from <a href="http://streetfighter.wikia.com/wiki/Sakura">The Street Fighter Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/sakuramoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/sakuraframes' %>

</div>
</div>