<% provide(:title, "Terry Bogard") %>
<div id="FighterPage">
<h1 id="Name">Terry Bogard</h1>
<%= image_tag "terry/bust.png", :class => "FighterImg" %>
<p class="Bio">Terry Bogard is a video game character created by SNK, and is the main character of the Fatal Fury series. He has appeared in every Fatal Fury and King of Fighters game, and is one of the characters of choice to symbolize the company in crossover games, merchandise and publicity. He appears to fit many Japanese stereotypes for an American character in appearance, personality and speech (his in-game vocabulary is usually limited to American colloquialisms, such as "Okay!" and "Hey, c'mon, c'mon.").
<br>
<br>
Terry Bogard is the brother of Andy Bogard. Both of them were orphans adopted by Jeff Bogard. He is often referred to as the Legendary Hungry Wolf (from Garou Densetsu, meaning Legend of the Hungry Wolf). He has a pet monkey named Ukee (the previous mascot of SNK before Terry). He has a knack for scoring in basketball, which explains the creation of his Power Dunk move.
<br>
<br>
In Gamest's 1997 Heroes Collection, Terry was voted as the staff's eighth favorite character. In a 2005 pool made by SNK Playmore USA, he was voted as the number one fan favorite character with a total of 10014 votes. He was voted as the second most favorite character at the time of Garou: Mark of the Wolves with one commenter saying that "Terry's the eternal hero." In the character popularity poll on Neo Geo Freak's website, he was voted as the fourth favorite character with a total of 2,479 votes.
<br>
<br>
Bio from <a href="http://snk.wikia.com/wiki/Terry_Bogard">The SNK Wiki</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/terrymoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/terryframes' %>

</div>
</div>