<% provide(:title, "Violent Ken") %>
<div id="FighterPage">
<h1 id="Name">Violent Ken</h1>
<%= image_tag "vken/bust.png", :class => "FighterImg" %>
<p class="Bio">When Ken Masters absorbed the Orochi power in SNK vs Capcom: Chaos, he became Violent Ken. This "evil" version of Ken was inspired by Sennou Ken (which literally means "brainwashed Ken" in Japanese), who debuted in Street Fighter II: The Animated Movie where he is being controlled by M. Bison. Violent Ken uses purple flames in his Shoryuken, not unlike Akuma's.
<br>
<br>
Bio from <a href="http://www.fightersgeneration.com/characters2/violentken.html">Fighters Generation</a>. Read more there!</p>
<div class="MainInfo">
<h2 id="Basics">The Basics</h2>
<p>TBW</p>
<h2 id="MoveInfo">Move Info</h2>

<%= render 'layouts/fighters/vkenmoves' %>

<h2 id="FrameData">Frame Data</h2>

<%= render 'layouts/fighters/kenframes' %>

</div>
</div>