<p>Health: 1000 Stun: 1000</p>
<table class="FrameTable">
  <colgroup>
    <col class="firstcolumn" />
    <col class="Command" />
  </colgroup>
  <tr>
    <th>Move Name</th>
    <th>Command</th>
    <th>Move Type</th>
    <th>Damage</th>
    <th>Stun</th>
    <th>Meter Gain<br>(Whiff/Hit)</th>
    <th>Start-up</th>
    <th>Active</th>
    <th>Recovery</th>
    <th>Advantage<br>(On Hit)</th>
    <th>Advantage<br>(On Block)</th>
    <th>Juggle Potential</th>
    <th>Juggle Cost</th>
    <th>Hit Level</th>
    <th>Cancel Ability</th>
    <th>Move Properties</th>
    <th>Counter-hit Properties</th>
    <th>Other Notes</th>
  </tr>
  <tr>
    <td>Standing Light Punch</td>
    <td><%= image_tag "info/lp.png" %></td>
    <td>Light</td>
    <td>30</td>
    <td>50</td>
    <td>0/20</td>
    <td>4</td>
    <td>2</td>
    <td>5</td>
    <td>+7</td>
    <td>+4</td>
    <td>2</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td><%= image_tag "info/rapidfire.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
</table>