// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url(back.png);
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Times New Roman', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

#gametitle {
  font-family: 'Impact', sans-serif;
  font-size: 3em;
}

nav {
  float: center;
  text-align: center;
  background-color: rgb(40, 40, 40);
  font-family: 'Times New Roman', sans-serif;
  color: white;
  text-decoration: none;
}

.mainlink {
  color: rgb(98, 192, 249);
  &:hover {
    color: rgb(9, 82, 142);
  }
}

.navlink {
  text-decoration: none;
  color: white;
  &:hover {
    color: rgb(128, 128, 128);
    text-decoration: none;
  }
}

#OtherNav {
  width: 25em;
}

.MainImg {
  text-align: center;
}