// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Times New Roman', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

#gametitle {
  font-family: 'Impact', sans-serif;
  font-size: 3em;
}

#HomeNav {
  background-color: silver;
  font-family: 'Times New Roman', sans-serif;
  text-indent: 1em;
}

#OtherNav {
  background-color: silver;
  font-family: 'Times New Roman', sans-serif;
  width: 25em;
}