// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Times New Roman', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

#gametitle {
  font-family: 'Impact', sans-serif;
  font-size: 3em;
}

nav {
  background-color: rgb(40, 40, 40);
  font-family: 'Times New Roman', sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 1em;
  height: 1.4em;
}

.navlink {
  text-decoration: none;
  color: white;
}

.navlink:hover {
  color: rgb(128, 128, 128);
}

#OtherNav {
  width: 25em;
}

.MainImg {
  text-align: center;
}